{% extends 'index_base.html' %}
{%  load static %}
{% block content %}
	<header class="practic-header  grid" id="index" style="background-image: url('{{ STATIC_URL  }}images/fong.png'); width: 30px">
		<div class="fixheader1">

							<span>&nbsp &nbsp{{  obj.address  }} &nbsp &nbsp nng-consulting@mail.ru &nbsp &nbsp  {{ obj.telefons }}</span>

		</div>
		<div class="fixheader">

			<a href="{% url 'nng:index' %}"><img src="{{ STATIC_URL  }}images/rectangle_header.png" alt="NNGConcalting"></a>
			<div class="menu grid" id="pr-menu">
				<a href="{% url 'nng:index' %}#company" class="menu-link">КОМПАНИЯ</a>
				<a href="{% url 'nng:index' %}#paractiki" class="menu-link">ПРАКТИКИ</a>
				<a href="{% url 'nng:index' %}#opit" class="menu-link">НАШ ОПЫТ</a>
				<a href="{% url 'nng:index' %}#geografy" class="menu-link">ГЕОРГРАФИЯ</a>
				<a href="{% url 'nng:index' %}#analitika" class="menu-link">АНАЛИТИКИ</a>
			</div>
			<div class="menu-toggle" id="pr-menu">
				<img src="{{ STATIC_URL  }}images/menu.png"/>
				<div class="toogle">
					<a href="{% url 'nng:index' %}#company" class="menu-link">КОМПАНИЯ</a>
					<a href="{% url 'nng:index' %}#paractiki" class="menu-link">ПРАКТИКИ</a>
					<a href="{% url 'nng:index' %}#opit" class="menu-link">НАШ ОПЫТ</a>
					<a href="{% url 'nng:index' %}#geografy" class="menu-link">ГЕОРГРАФИЯ</a>
					<a href="{% url 'nng:index' %}#analitika" class="menu-link">АНАЛИТИКИ</a>

				</div>
			</div>
		</div>
	</header>



	<div class="company wow fadeInDown content-practic" id="company">

		<h2 data-effect="pulse" >{{ object.name|safe }}</h2>
		<span>
			{{ object.note|safe }}
		</span>
	</div>

	<section class="formsection">
			<div class="footer">
					<!-- <div class="data"> -->
						<img src="{{ STATIC_URL  }}images/logo-footer.png"/>
						<div class="data">
							<span><img src="{{ STATIC_URL  }}images/mail.png" style="width:20px; height:20px">nng-consulting@mail.ru</span>
							<span><img src="{{ STATIC_URL  }}images/phone.png" style="width:20px; height:20px">Тел.: +7 (985) 648 6201 </span>
							<span><img src="{{ STATIC_URL  }}images/phone.png" style="width:20px; height:20px">Тел.: +7 (930) 409 2323 </span>

						</div>


					<!-- </div> -->
					<!-- <div class="container"> -->
						<form action="" class="grid">
							<div><input type="text" name="" id="" placeholder="Ваше имя" required></div>
							<div><input type="text" name="" id="" placeholder="Ваш E-mail"></div>
							<div><input type="text" name="" id="" placeholder="Ваш телефон"></div>
							<div><button class="button">Отправить заявку</button></div>
						</form>
					</div>
			</div>

	</section>
{% endblock %}
